html {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black
}

h1 {
    text-align: center;
    margin: 50px;
    color: white
}

h2, h3 {
    text-align: center;
    color: white;
}

p {
    font-size: 18px;
    text-align: center;
    color: white;
    line-height: 2;
    padding: 45px;
}

body {
    width: 600px;
    margin: 8px auto;
    border: 1px solid red;
    padding: 0px 20px 20px 20px;
}